<div class="features">
	<a href="#" class="features__item">
		<img class="features__img" src="assets/svg/fns.svg" alt="Фнс" />
		<p class="features__text">
			<span class="features__text-green">Справка в&nbsp;налоговую <span class="mobile-hide">(ФНС)</span></span><br />
			для оформления налогового вычета
		</p>
	</a>
	<a href="#" class="features__item">
		<img class="features__img" src="assets/svg/consultant.svg" alt="Фнс" />
		<p class="features__text">
			<span  class="features__text-green">Бесплатная консультация <span class="mobile-show-inline">врача</span> </span> <br />
			 <span class="mobile-hide">врача</span>  Гемотест по&nbsp;телефону
		</p>
	</a>
	<a href="#" class="features__item">
		<img class="features__img" src="assets/svg/decode.svg" alt="Фнс" />
		<p class="features__text">
			<span  class="features__text-green">Расшифровка результатов</span><br />
			из&nbsp;других лабораторий
		</p>
	</a>
	<a href="#" class="features__item">
		<img class="features__img" src="assets/svg/discount.svg" alt="Фнс" />
         
		<p class="features__text">
			<span  class="features__text-green">Бонусная программа</span><br />
			«Копитена здоровье»
		</p>
	</a>
	<a href="#" class="features__item">
		<img class="features__img" src="assets/svg/cancer.svg" alt="Фнс" />
		<p class="features__text">
			<span  class="features__text-green">Второе мнение <span class="mobile-hide">в&nbsp;онкологии</span></span><br />
			<span class="mobile-show-inline">от&nbsp;онкоэкспертов</span> <span class="mobile-hide">от&nbsp;экспертов</span> мирового уровня
		</p>
	</a>
</div>
