<nav class="other-services">
	<a href="#" class="other-services__link mobile-hide">УЗИ</a>
	<a href="#" class="other-services__link">УЗИ дома <span>&nbsp;– бесплатный выезд</span></a>
	<a href="#" class="other-services__link mobile-hide">ЭКГ</a>
	<a href="#" class="other-services__link">ЭКГ дома <span>&nbsp;– бесплатный выезд</span></a>
    <div class="other-services__inner">
        <a href="#" class="other-services__link">Лечение Сургитрон</a>
        <a href="#" class="other-services__link">Кольпоскопия</a>
    </div>
</nav>
