<div class="services swiper" data-slider>
	<ul class="services__list swiper-wrapper">
		<li class="services__item swiper-slide">
			<a href="#" class="services__link">
				<h2 class="services__title">Анализы дома</h2>
				<p class="services__text">
					Бесплатный выезд.<br />
					Для детей&nbsp;и взрослых.<br />
					Удобно&nbsp;и быстро.
				</p>
				<span class="button services__button">Бесплатно</span>
			</a>
			<picture>
				<source type="image/webp" srcset="assets/img/img_1.webp" />
				<img class="services__img" src="assets/img/img_1.jpg" alt="Анализы дома" />
			</picture>
		</li>
		<li class="services__item swiper-slide">
			<a href="#" class="services__link">
				<h2 class="services__title">МРТ</h2>
				<p class="services__text">
					Запись&nbsp;на магнитно-резонансную томографию. <br />
					8&nbsp;видов скрининга.
				</p>
				<span class="button services__button">От 1 690 Р</span>
			</a>
			<picture>
				<source type="image/webp" srcset="assets/img/img_2.webp" />
				<img class="services__img" src="assets/img/img_2.jpg" alt="Анализы дома" />
			</picture>
		</li>
		<li class="services__item swiper-slide">
			<a href="#" class="services__link">
				<h2 class="services__title">Срочные анализы CITO</h2>
				<p class="services__text">
					Быстрая диагностикав день обращения. <br />
					Более 30&nbsp;видов анализов.
				</p>
				<span class="button services__button">Бесплатно</span>
			</a>
			<picture>
				<source type="image/webp" srcset="assets/img/img_3.webp" />
				<img class="services__img" src="assets/img/img_3.jpg" alt="Анализы дома" />
			</picture>
		</li>
	</ul>
</div>
